[core]
  excludesfile = ~/.gitignore_global
  pager        = delta
  editor       = vim

[user]
  name       = Moshe Avni
  email      = mavni@netapp.com

[checkout]
  defaultRemote = origin

[pull]
  rebase = false

[help]
  autocorrect = 1

[branch]
  autosetupmerge = always

[alias]
  log  = log --pretty=log
  lb   = log --graph --simplify-by-decoration --pretty=shorter --all --notes --date-order --relative-date
  adog = log --all --decorate --oneline --graph

[init]
  defaultBranch = master

[interactive]
  diffFilter = delta --color-only

[delta]
  features     = decorations arctic-fox
  navigate     = true  # use n and N to move between diff sections
  line-numbers = true
  light        = false # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true

[delta "arctic-fox"]
  dark                                               = true
  syntax-theme                                       = Nord
  file-added-label                                   = [+]
  file-copied-label                                  = [==]
  file-modified-label                                = [*]
  file-removed-label                                 = [-]
  file-renamed-label                                 = [->]
  file-style                                         = omit
  hunk-header-decoration-style                       = "#5E81AC" ul
  hunk-header-file-style                             = blue ul bold
  hunk-header-line-number-style                      = yellow box bold
  hunk-header-style                                  = file line-number syntax bold italic
  plus-style                                         = brightgreen
  plus-emph-style                                    = black green
  minus-style                                        = brightred
  minus-emph-style                                   = black red
  line-numbers                                       = true
  line-numbers-minus-style                           = brightred
  line-numbers-plus-style                            = brightgreen
  line-numbers-left-style                            = "#5E81AC"
  line-numbers-right-style                           = "#5E81AC"
  line-numbers-zero-style                            = "#4C566A"
  zero-style                                         = syntax
  whitespace-error-style                             = black bold
  blame-code-style                                   = syntax
  blame-format                                       = "{author:<18} {commit:<6} {timestamp:<15}"
  blame-palette                                      = "#2E3440" "#3B4252" "#434C5E"
  merge-conflict-begin-symbol                        = ~
  merge-conflict-end-symbol                          = ~
  merge-conflict-ours-diff-header-style              = yellow bold
  merge-conflict-ours-diff-header-decoration-style   = "#5E81AC" box
  merge-conflict-theirs-diff-header-style            = yellow bold
  merge-conflict-theirs-diff-header-decoration-style = "#5E81AC" box

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style       = blue ol
  commit-style                  = raw
  file-style                    = omit
  hunk-header-decoration-style  = blue box
  hunk-header-file-style        = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style             = file line-number syntax

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[color]
  branch      = true
  decorate    = true
  diff        = true
  grep        = true
  interactive = true
  pager       = true
  showbranch  = true
  status      = true
  ui          = true
