[user]
  name       = Moshe Avni
  email      = mavni@netapp.com
  ; email      = moshe@avni.us
  signingkey = 1F52151977048EAB

[commit]
  gpgsign = false

[pull]
  rebase = false

[help]
  autocorrect = 1

[branch]
  autosetupmerge = always

[alias]
  log  = log --pretty=log
  lb   = log --graph --simplify-by-decoration --pretty=shorter --all --notes --date-order --relative-date
  adog = log --all --decorate --oneline --graph

[init]
  defaultBranch = master

[core]
  excludesfile = ~/.gitignore_global
  pager        = diff-so-fancy | less --tabs=4 -RFX
  editor       = vim

[interactive]
  diffFilter = diff-so-fancy --patch

[color]
  branch      = true
  decorate    = true
  diff        = true
  grep        = true
  interactive = true
  pager       = true
  showbranch  = true
  status      = true
  ui          = true

[color "diff-highlight"]
  oldNormal    = red   bold
  oldHighlight = red   bold 52
  newNormal    = green bold
  newHighlight = green bold 22

[color "diff"]
  meta       = 11
  frag       = magenta bold
  func       = 146     bold
  commit     = yellow  bold
  old        = red     bold
  new        = green   bold
  whitespace = red     reverse

[color "status"]
  added     = green
  changed   = red     bold
  untracked = magenta bold

[color "branch"]
  remote = yellow
