name: Tests

on: [push, pull_request]

permissions:
  contents: read

jobs:
  unit_tests:
    name: unit tests
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        rev: [nightly]

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.rev }}

      - name: Prepare
        run: |
          cd nvim/.config/nvim
          make prepare

      - name: Run tests
        run: |
          nvim --version
          cd nvim/.config/nvim
          make test
